body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "RadialBarChart DonutCharts";
}

.DonutCharts {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "CausesDonutChart DimensionsDonutChart";
}

.RadialBarChart {
  grid-area: RadialBarChart;
}
.RadialBarChart .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.CausesDonutChart {
  grid-area: CausesDonutChart;
}

.DimensionsDonutChart {
  grid-area: DimensionsDonutChart;
}