body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* duas colunas */
  grid-template-rows: 0.7fr 0.3fr;   /* donuts em cima, radial em baixo */
  grid-template-areas:
    "Empty RadialBarChart"
    "Empty DonutCharts";
}

.Empty {
  grid-area: Empty;
}


.DonutCharts {
  max-height: 35vh;  /* não passam de 35% da altura da viewport */
  grid-area: DonutCharts;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px; /* spacing after the line */
  border-left: 2px solid #ccc;
}


.CausesDonutChart,
.DimensionsDonutChart {
  display: none; /* escondidos por default */
}

.CausesDonutChart.active,
.DimensionsDonutChart.active {
  display: block; /* só o ativo aparece */
}

.RadialBarChart {
  max-height: 65vh;  /* não passam de 65% da altura da viewport */
  grid-area: RadialBarChart;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc; /* horizontal separator */
  border-left: 2px solid #ccc;

}
