body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "RadialBarChart";
}
.RadialBarChart {
  grid-area: RadialBarChart;
}
.RadialBarChart .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
