body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* duas colunas */
  grid-template-rows: 0.3fr 0.7fr;   /* donuts em cima, radial em baixo */
  grid-template-areas:
    "Empty DonutCharts"
    "Empty RadialBarChart";
  height: 100vh;
}

.Empty {
  grid-area: Empty;
}


.DonutCharts {
  max-height: 35vh;  /* não passam de 35% da altura da viewport */
  grid-area: DonutCharts;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.CausesDonutChart,
.DimensionsDonutChart {
  display: none; /* escondidos por default */
}

.CausesDonutChart.active,
.DimensionsDonutChart.active {
  display: block; /* só o ativo aparece */
}

.RadialBarChart {
  grid-area: RadialBarChart;
  display: flex;
  justify-content: center;
  align-items: center;
}
