body {
  margin: 0; /* remove default browser margin */
  font-family: sans-serif;
  overflow: hidden; /* prevents scrollbars */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 0.3fr;
  grid-template-areas:
    "ChoroplethMap RadialBarChart"
    "ChoroplethMap DonutCharts";
  height: 100vh; /* fill entire viewport */
  box-sizing: border-box;
}

.ChoroplethMap {
  grid-area: ChoroplethMap;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  position: relative;
}

.RadialBarChart {
  grid-area: RadialBarChart;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  width: 100%;
  height: 100%;
}

.DonutCharts {
  grid-area: DonutCharts;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  border-left: 2px solid #ccc;
  width: 100%;
  height: 100%;
}

.CausesDonutChart,
.DimensionsDonutChart {
  display: none;
  flex: 1;
  width: 100%;
}

.CausesDonutChart.active,
.DimensionsDonutChart.active {
  display: flex;
  justify-content: center;
  align-items: center;
}